/*!
 * 
 * CSS for the RSS Feed formated by RSS Mikle (http://feed.mikle.com).
 *
 */

/* latin */
@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: local('Syncopate'), local('Syncopate-Regular'), url(http://fonts.gstatic.com/s/syncopate/v7/pDM9CVwNx1ufBHCEatJA3JBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{margin:0;padding:0;overflow-x:hidden;}
img{border:none;}
#container{text-align:left;overflow:hidden;margin:0;padding:0;width:100%;font-family:"Syncopate", Helvetica, sans-serif;font-size:18px;border:0px solid #CCCCCC;}
#header{margin:0px;padding:5px 5px 5px 5px;color:#666666;background-color:none;background-image:none;}
#header .feed_title{margin:0;padding:0;font-size:22px;font-weight:bold;word-wrap:break-word;}
#header .feed_title a:link{color:#666666;text-decoration:none;}
#header .feed_title a:visited{color:#666666;text-decoration:none;}
#header .feed_title a:hover{color:#666666;text-decoration:underline;}
#header .feed_title a:active{color:#666666;text-decoration:none;}
#content{overflow:hidden;margin:0 20px 0 0;padding:5px 0px 0px 0px;background-color:none;background-image:none;}
#content .feed_item{margin:0 0 7px 0;padding:0 0 7px 0;border-bottom:0px dashed #CCCCCC;clear:both;}
#content .feed_item_title{margin:1px 0 1px 3px;padding:1px 2px 1px 3px;color:#faa732;font-weight:bold;}
#content .feed_item_title a:link{color:#faa732;text-decoration:none;}
#content .feed_item_title a:visited{color:#faa732;text-decoration:none;}
#content .feed_item_title a:hover{color:#faa732;text-decoration:underline;}
#content .feed_item_title a:active{color:#faa732;text-decoration:none;}
#content .feed_item_podcast{margin:0 0 0 3px;padding:0 0 0 3px;}
#content .feed_item_date{margin:0 0 0 3px;padding:0 2px 0 3px;color:#666666;overflow:hidden;text-overflow:ellipsis;clear:both;}
#content .feed_item_link{margin:0 0 0 3px;padding:0 2px 0 3px;color:#666666;overflow:hidden;text-overflow:ellipsis;clear:both;}
#content .feed_item_link a:link{color:#666666; text-decoration:none;}
#content .feed_item_link a:visited{color:#666666; text-decoration:none;}
#content .feed_item_link a:hover{color:#666666; text-decoration:none;}
#content .feed_item_link a:active{color:#666666; text-decoration:none;}
#content .feed_item_description{overflow:hidden;margin:0 20px 0 3px;padding:0 2px 0 3px;color:#666666;line-height:135%;word-wrap:break-word;clear:both;}
#content .feed_item_thumbnail{width:110px; height:100px; float:left; margin:5px; overflow:hidden;}
#footer{display:none;height:0px;margin:0px;padding:0px;color:#faa732;background-color:none;background-image:none;}
.scroll-pane{width: 100%;overflow:auto;}
